{% extends "template.html" %}

{% block content %}
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="static/image/back.jpg">
                <div class="carousel-caption d-md-block" style="top:30%">
                        <h4 id="element"></h4>
                    <div>
                        <button type="button" class="btn btn-primary" style="margin:1%">Block level button</button>
                        <button type="button" class="btn btn-secondary" style="margin:1%">Block level button</button>
                    </div>

                </div>
            </div>
          </div>
        </div>


{% endblock %}

